html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* Variables 
---------------------------------------- */
/*Do not set lh font-dependent, like 1.1 or 120%.*/
/* For rhythmless */
/* Colors */
/* Mixins 
--------------------------------- */
/* Easy grid */
.row {
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* show vertical rhythm */
/* Helpers from bootstrap
-----------------------------*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* Base text styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Multiplier of base fs */

  font-size: 16pt;
  background: #f7f7f7;
  /*number of rows, not actual lh*/

  line-height: 18pt;
  -webkit-font-smoothing: antialiased;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(94.44444444444444%, transparent), color-stop(94.44444444444444%, #efefef), to(#efefef));
  background: -moz-linear-gradient(top, transparent, transparent 94.44444444444444%, #efefef 94.44444444444444%, #efefef);
  background-size: auto 18pt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*Number of rown in vertical rhythm (fuck paddings & margins off)*/

  /*number of rows, not actual lh*/

  line-height: 36pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  /* Multiplier of base fs */

  font-size: 30.4pt;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: #9b0440;
  font-weight: 200;
  text-decoration: none;
}
a:hover {
  color: brighten(#9b0440, 40%);
  text-decoration: underline;
}
strong {
  font-weight: 700;
}
ul li {
  list-style: inside;
}
ol li {
  list-style: decimal inside;
}
blockquote {
  margin: 0;
  font-style: italic;
}
dl,
dt,
dd,
dl p {
  font-color: #444;
}
dl dt {
  font-weight: bold;
}
dl dd {
  font-style: italic;
}
dl p {
  font-style: italic;
}
hr {
  border: 0;
  background: #ccc;
  height: 1px;
}
/* Images */
img {
  position: relative;
  margin: 0 auto;
  max-width: 650px;
  border: 1px solid #ccc;
}
/* Code blocks */
code,
pre {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #000;
}
pre {
  background: #FDFEFB;
  border-radius: 4px;
  border: 1px solid #D7D8C8;
  overflow: auto;
  overflow-y: hidden;
}
/* Tables */
table {
  width: 100%;
}
table {
  border: 1px solid #ccc;
  text-align: left;
}
th {
  font-weight: normal;
  background: #232323;
  color: #FDFEFB;
}
/* Header */
header ul {
  list-style: none;
}
header li {
  list-style-type: none;
}
aside {
  position: relative;
  width: 16.666666666666664%;
  left: 0%;
  float: left;
  padding-right: 18pt;
  position: fixed;
}
aside:after {
  content: "";
  display: table;
  clear: both;
}
aside:last-of-type {
  padding-right: 0;
}
/* Section - for main page content */
section {
  position: relative;
  width: 83.33333333333334%;
  left: 16.666666666666664%;
  float: left;
  padding-right: 18pt;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
section:last-of-type {
  padding-right: 0;
}
/* Footer */
footer {
  position: fixed;
}
