body{
	color: #343434;
	font-family: Cambria, "Liberation Serif", Georgia, serif;	
	font-size: 16px;
	line-height: 1.4;
}
body:after{
	content: "";
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  hsla(0,0%,100%,1) 53%, hsla(205,32%,87%,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(53%,hsla(0,0%,100%,1)), color-stop(100%,hsla(205,32%,87%,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  hsla(0,0%,100%,1) 53%,hsla(205,32%,87%,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  hsla(0,0%,100%,1) 53%,hsla(205,32%,87%,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  hsla(0,0%,100%,1) 53%,hsla(205,32%,87%,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  hsla(0,0%,100%,1) 53%,hsla(205,32%,87%,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6edf2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

a{
	color: #343434;
}
a:hover{
	color: rgb(218, 41, 17);
}

/* Aside */
	aside{
		display: block;
		font-family: Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif ;
		width: 200px;
	}
	@media all and (max-width: 640px) {
		aside{
			padding: 0 20%;
			margin: 0px auto 40px;
		}
	}
	@media all and (min-width: 640px) {
		aside{
			position: fixed;
			left: 20px;
			top: 40px;
		}
	}

	.brand-name{
		font-weight: bolder;
		color: #343434;
		display: block;
		margin: 0 auto 10px;
		text-decoration: none;
		text-align: center;
		font-size: 18px;
		letter-spacing: 0px;
	}

	.main-menu{
		padding: 0 20px;
		text-align: center;
		font-family: serif;
	}
	.sub-menu{
		margin-top: 30px;
		text-align: center;
	}
	.nav-item{
		display: block;
		text-align: center;
		margin: 0 0 0px 0;
		border-radius: 40px;
		line-height: 40px;
		color:rgb(78, 92, 82);
		font-weight: normal;
		font-size: 16px;
		text-shadow: 0 1px 0 white;
	}
	.nav-item.active{
		background: linear-gradient(to bottom, rgb(76, 65, 111) 2%, rgb(179, 224, 223) 100%);
		box-shadow: inset 0 2px 1px 1px rgba(67, 0, 187, 0.12), 0 2px 0 rgb(255, 255, 255);
		color: white;
		text-shadow: 0 1px 5px rgba(13, 69, 105, 1);
		text-decoration: none;
	}

	.icon-link{
		margin: 0 2px;
	}
	.icon-link > svg{
		max-width: 36px;
		max-height: 36px;
		fill: #232328;
	}
	.icon-link:hover > svg{
		fill: rgb(218, 41, 17);
	}

	.menu-counter{
		color: rgb(255, 255, 255);
		background: rgb(75, 59, 85);
		padding: 0 5px;
		height: 14px;
		line-height: 14px;
		text-align: center;
		border-radius: 14px;
		font-family: sans-serif;
		font-size: 8px;
		left: 2px;
		top: -2px;
		position: relative;
		display: none;
	}

/* Main */
	section{
		margin: 40px auto 0;
		position: relative;
		width: 90%;
	}
	@media all and (max-width: 640px) {
		section{
			left: 0;
		}
	}
	@media all and (min-width: 640px) {
		section{
			width: 60%;
			max-width: 960px;
			left: 80px;
		}
	}
	@media all and (min-width: 800px) {
		section{
			width: 50%;
		}
	}

/* Blogroll */
	.post{
		margin-bottom: 60px;
	}
	.post-time, .post-tags{
		opacity: 0;
		font-size: 14px;
		float: right;
		transition: .3s linear opacity;
	}
	.post-tag, .post-time{		
		color:#bbc;
		font-size: 10px;
		letter-spacing: 2px;
		font-family: Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif ;
	}
	.post-tags{
		float: left;
	}
	.post-tag:not(:last-child):after{
		content:", ";
	}
	.post:hover .post-time, .post:hover .post-tags{
		opacity: 1;
	}
	hr{
		border:none;
		background: none;
		margin:0;
		position: relative;
		height: 1px;
		line-height: 10px;
		margin-bottom: 10px;
	}
	hr:after{
		content:"- - -";
		color: #bbc;
		position: absolute;
		top: -5px;
		left: 0;
	}
	h1, h2, h3, h4, h5, h6{
		font-family: Helvetica, Tahoma, "Nimbus Sans", Arial, sans-serif ;
		margin: 0;
	}
	p, ul, ol{
		margin: 10px 0 0;
	}
	.post-content{
		margin-bottom: 10px;
	}


.pagination{
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	font-style: italic;
}
.next, .previous{
	margin: 0 10px;
}
span.next, span.previous{
	display: none
}



/* Single-page helpfull */
nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav > ul > li{
	margin: 0;
	padding: 0;
}
.prev-post, .next-post{
	font-size: 80px;
	position: absolute;
	height: 100%;
	width: 10%;
	top: 100px;
	text-align: center;
}

.prev-post a, .next-post a{	
	text-decoration: none;
}

.prev-post{
	left: 0;
}

.next-post{
	right: 0;
}

footer{
	width: 60%; 
	margin: auto;
	border-top: 2px solid gray;
}