<link rel="stylesheet/less" type="text/css" href="../../main.less" />

<script src="../../less.js" type="text/javascript"></script>

<style>
html{
	padding-left: 20px;
}
label{
	display: block;
	line-height: 20px;
}
</style>

<h1>Inputs test</h1>


<h2>Base</h2>
<label>Simpliest possible but complete input</label>
<input></input>

<label>Type=text</label>
<input type="text"></input>

<label>Class = input</label>
<input class="input"></input>

<label>Combined tyny input</label>
<input class="input pushed tiny round"></input>

<label>Combined small input</label>
<input class="input popped search radius small"></input>

<label>Combined large input</label>
<input class="input spinner error"></input>

<label>Combined normal input</label>
<input class="input popped progress large"></input>


<h2>Attributes</h2>
<label>Required</label>
<input required></input>

<label>Value</label>
<input value="Hello, I’m input"></input>

<label>Placeholder</label>
<input placeholder="Hello, I’m placeholder"></input>

<label>Readonly</label>
<input readonly></input>

<label>Autocomplete</label>
<input autocomplete="on"></input>


<h2>Shape</h2>
<label>Class = input popped</label>
<input class="input popped"></input>

<label>Class = input pushed</label>
<input class="input pushed"></input>


<h2>States</h2>
<label>normal</label>
<input class="input normal"></input>

<label>hover</label>
<input class="input hover"></input>

<label>active</label>
<input class="input active"></input>

<label>focus</label>
<input class="input focus"></input>

<label>disabled</label>
<input class="input disabled"></input>


<h2>Forms</h2>
<label>success class</label>
<input class="input success"></input>

<label>error class</label>
<input class="input error"></input>

<label>warning class</label>
<input class="input warning"></input>

<label>required</label>
<input class="input required"></input>