@import "ui-kit/main.less";

section{
	margin: auto;
	width: 60%;
}

.page-nav{
	ul{
		.list-inline;
	}

	.prev, .next{
		font-size: 80px;
		position: absolute;
		height: 100%;
		width: 10%;
		top: 100px;
		text-align: center;
	}

	.prev{
		left: 0;
	}

	.next{
		right: 0;
	}
}

footer{
	width: 60%;	
	margin: auto;
	border-top: 2px solid @gray;
}