<nav class="navbar-main">
	<header>
	</header>

	<ul class="nav-group">
		<li class="simple-dropdown-item divider-right">
			<a href="index.html" class="simple-dropdown-link"><span>Город</span></a>
			<div class="simple-dropdown">
				<ul class="simple-dropdown-content left" role="menu" aria-labelledby="dLabel">
					<li class="simple-dropdown-item inline hover-arrow divider-right"> 
						<a href="events.html" class="simple-dropdown-link"><span>События</span></a>
					</li><li class="simple-dropdown-item inline hover-arrow">
						<a href="places.html" class="simple-dropdown-link"><span>Места</span></a>
					</li>
				</ul>
			</div>
		</li>
	</ul>

	<form class="nav-search pull-right">
		<input type="text" class="search-query" placeholder="Поиск…">
	</form>

	<div class="nav-item pull-right">
		<li class="divider-left"><a href="#" class="login-link active-link"><span>Войти</span></a></li>
	</div>
</nav>