<!doctype html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{{ page.title }}</title>

<link rel="stylesheet" type="text/css" href="/css/style.css">


{{ content }}

<footer>
	<nav>
		<ul class="contacts-list">
			<li><a href="https://github.com/dfcreative">GitHub</a></li>
			<li><a href="https://vk.com/id80775">vk</a></li>
			<li><a href="callto:dfcreative">Skype</a></li>
			<li><a href="mailto:df.creative@gmail.com">Mail</a></li>
		</ul>
	</nav>
</footer>

<!--<script src="js/expression.js"></script>-->

<script src="/js/jquery.js"></script>
<!--<script src="/js/site.js"></script>-->